<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
    <header>
        <h1>Usuarios</h1>
    </header>
    <a href="/cadastro">
        <button type="button" class="butao">Novo Usuario</button>
    </a>
</body>

</html>