<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/cadastro.css">
</head>

<body>
    <div class="container">
        <div class="cadastro-form">

            <h2>Cadastro</h2>

            <form method="post">
                <!-- metodo para enviar/cadastrar requisicao formAction para distinguir os Post nas classe-->
                <div class="form-group">
                    <label for="CadastroNome">Nome</label>
                    <input type="text" id="CadastroNome" name="CadastroNome" th:value="${usuario.nome}" required>
                </div>

                <div class="form-group">
                    <label for="CadastroEmail">Email</label>
                    <input type="email" id="CadastroEmail" name="CadastroEmail" th:value="${usuario.email}" required>
                </div>

                <div class="form-group">
                    <label for="CadastroTelefone">Telefone</label>
                    <input type="text" id="CadastroTelefone" name="CadastroTelefone" th:value="${usuario.telefone}" required>
                </div>
                <div class="error-message">
                    <!-- Exiba mensagens de erro aqui, se necessário -->
                    <p th:text="${param.errorC}" style="color: red; font-size: 12px;"></p>
                </div>
                <div class="form-group">
                    <button type="submit" value="Cadastrar">Cadastrar</button>
                </div>
            </form>
            <div class="success-message">
                <p th:text="${session.cadastroSucesso}" style="color: green; font-size: 12px;"></p>
            </div>
            <div class="form-group">
                <a href="/users">
                    <button type="button">Retornar</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>